body{
    background-color: #E3E4DB;
    text-align: center;
}

h1{
    font-size: 80px;
    background-color: #BF3131;
    color: white;
    margin: 0px;
    padding: 40px;
}

nav{
    font-size: 20px;
    background-color: #7D0A0A;
    padding: 20px;
    margin: 0px;
}

a{
    color: white;
    text-decoration: dashed;
}